NCR/mycode/CRMConsoleAppCS1/CRMConsoleAppCS1/Web References/CRMWebReference/CRMOfferConnector.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.copienttech.com/CRMOfferConnector/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.copienttech.com/CRMOfferConnector/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.copienttech.com/CRMOfferConnector/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="heartbeat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ei" type="tns:ExternalInterfaceID" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ExternalInterfaceID">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_eiguid" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="m_extInterfaceID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="heartbeatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="heartbeatResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="postOffersEnhancedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ei" type="tns:ExternalInterfaceID" />
            <s:element minOccurs="0" maxOccurs="1" name="os" type="tns:Offers" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Offers">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_offers" type="tns:ArrayOfOfferDefinition" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOfferDefinition">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OfferDefinition" nillable="true" type="tns:OfferDefinition" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OfferDefinition">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_offerID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="m_extOfferID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_filename" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_offerXML" type="tns:EncapsulatedXML" />
          <s:element minOccurs="1" maxOccurs="1" name="m_engineID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_locations" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EncapsulatedXML">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_encoded_xml" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="postOffersEnhancedResponseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postOffersEnhancedResponseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="postOffers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ei" type="tns:ExternalInterfaceID" />
            <s:element minOccurs="0" maxOccurs="1" name="os" type="tns:Offers" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="postOffersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="postOffersResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getOffers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ei" type="tns:ExternalInterfaceID" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getOffersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getOffersResult" type="tns:Offers" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ackOffers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ei" type="tns:ExternalInterfaceID" />
            <s:element minOccurs="0" maxOccurs="1" name="ol" type="tns:OfferList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OfferList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_offers" type="tns:ArrayOfOfferMapping" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOfferMapping">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OfferMapping" type="tns:OfferMapping" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OfferMapping">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_offerID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="m_extOfferID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_filename" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ackOffersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ackOffersResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getOfferStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ei" type="tns:ExternalInterfaceID" />
            <s:element minOccurs="0" maxOccurs="1" name="ol" type="tns:OfferList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getOfferStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getOfferStatusResult" type="tns:OfferStatuses" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OfferStatuses">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_offerImportStatuses" type="tns:ArrayOfOfferStatus" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOfferStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OfferStatus" type="tns:OfferStatus" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OfferStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_extOfferId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_imported" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="aboutThisService">
        <s:complexType />
      </s:element>
      <s:element name="aboutThisServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aboutThisServiceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="postOffersImmediate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ei" type="tns:ExternalInterfaceID" />
            <s:element minOccurs="0" maxOccurs="1" name="os" type="tns:Offers" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="postOffersImmediateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postOffersImmediateResult" type="tns:OfferImmediateStatuses" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OfferImmediateStatuses">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_offerImmediateStatuses" type="tns:ArrayOfOfferImmediateStatusStruct" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOfferImmediateStatusStruct">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OfferImmediateStatusStruct" type="tns:OfferImmediateStatusStruct" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OfferImmediateStatusStruct">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_extOfferId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_offerId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="m_status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_status_msg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="transferCmOffersImmediate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ei" type="tns:ExternalInterfaceID" />
            <s:element minOccurs="0" maxOccurs="1" name="os" type="tns:Offers" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="transferCmOffersImmediateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transferCmOffersImmediateResult" type="tns:OfferImmediateStatuses" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="translateCmToUe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ei" type="tns:ExternalInterfaceID" />
            <s:element minOccurs="0" maxOccurs="1" name="os" type="tns:Offers" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="translateCmToUeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="translateCmToUeResult" type="tns:OfferTranslateStatuses" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OfferTranslateStatuses">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_offerTranslateStatuses" type="tns:ArrayOfOfferTranslateStatusStruct" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOfferTranslateStatusStruct">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OfferTranslateStatusStruct" type="tns:OfferTranslateStatusStruct" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OfferTranslateStatusStruct">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_cmOfferId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="m_ueOfferId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="m_status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_status_msg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="translateCmToUeEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ei" type="tns:ExternalInterfaceID" />
            <s:element minOccurs="0" maxOccurs="1" name="os" type="tns:Offers" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="translateCmToUeExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="translateCmToUeExResult" type="tns:OfferTranslateStatuses" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteTranslatedOffer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ei" type="tns:ExternalInterfaceID" />
            <s:element minOccurs="0" maxOccurs="1" name="os" type="tns:Offers" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteTranslatedOfferResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deleteTranslatedOfferResult" type="tns:OfferTranslateStatuses" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="heartbeatSoapIn">
    <wsdl:part name="parameters" element="tns:heartbeat" />
  </wsdl:message>
  <wsdl:message name="heartbeatSoapOut">
    <wsdl:part name="parameters" element="tns:heartbeatResponse" />
  </wsdl:message>
  <wsdl:message name="postOffersEnhancedResponseSoapIn">
    <wsdl:part name="parameters" element="tns:postOffersEnhancedResponse" />
  </wsdl:message>
  <wsdl:message name="postOffersEnhancedResponseSoapOut">
    <wsdl:part name="parameters" element="tns:postOffersEnhancedResponseResponse" />
  </wsdl:message>
  <wsdl:message name="postOffersSoapIn">
    <wsdl:part name="parameters" element="tns:postOffers" />
  </wsdl:message>
  <wsdl:message name="postOffersSoapOut">
    <wsdl:part name="parameters" element="tns:postOffersResponse" />
  </wsdl:message>
  <wsdl:message name="getOffersSoapIn">
    <wsdl:part name="parameters" element="tns:getOffers" />
  </wsdl:message>
  <wsdl:message name="getOffersSoapOut">
    <wsdl:part name="parameters" element="tns:getOffersResponse" />
  </wsdl:message>
  <wsdl:message name="ackOffersSoapIn">
    <wsdl:part name="parameters" element="tns:ackOffers" />
  </wsdl:message>
  <wsdl:message name="ackOffersSoapOut">
    <wsdl:part name="parameters" element="tns:ackOffersResponse" />
  </wsdl:message>
  <wsdl:message name="getOfferStatusSoapIn">
    <wsdl:part name="parameters" element="tns:getOfferStatus" />
  </wsdl:message>
  <wsdl:message name="getOfferStatusSoapOut">
    <wsdl:part name="parameters" element="tns:getOfferStatusResponse" />
  </wsdl:message>
  <wsdl:message name="aboutThisServiceSoapIn">
    <wsdl:part name="parameters" element="tns:aboutThisService" />
  </wsdl:message>
  <wsdl:message name="aboutThisServiceSoapOut">
    <wsdl:part name="parameters" element="tns:aboutThisServiceResponse" />
  </wsdl:message>
  <wsdl:message name="postOffersImmediateSoapIn">
    <wsdl:part name="parameters" element="tns:postOffersImmediate" />
  </wsdl:message>
  <wsdl:message name="postOffersImmediateSoapOut">
    <wsdl:part name="parameters" element="tns:postOffersImmediateResponse" />
  </wsdl:message>
  <wsdl:message name="transferCmOffersImmediateSoapIn">
    <wsdl:part name="parameters" element="tns:transferCmOffersImmediate" />
  </wsdl:message>
  <wsdl:message name="transferCmOffersImmediateSoapOut">
    <wsdl:part name="parameters" element="tns:transferCmOffersImmediateResponse" />
  </wsdl:message>
  <wsdl:message name="translateCmToUeSoapIn">
    <wsdl:part name="parameters" element="tns:translateCmToUe" />
  </wsdl:message>
  <wsdl:message name="translateCmToUeSoapOut">
    <wsdl:part name="parameters" element="tns:translateCmToUeResponse" />
  </wsdl:message>
  <wsdl:message name="translateCmToUeExSoapIn">
    <wsdl:part name="parameters" element="tns:translateCmToUeEx" />
  </wsdl:message>
  <wsdl:message name="translateCmToUeExSoapOut">
    <wsdl:part name="parameters" element="tns:translateCmToUeExResponse" />
  </wsdl:message>
  <wsdl:message name="deleteTranslatedOfferSoapIn">
    <wsdl:part name="parameters" element="tns:deleteTranslatedOffer" />
  </wsdl:message>
  <wsdl:message name="deleteTranslatedOfferSoapOut">
    <wsdl:part name="parameters" element="tns:deleteTranslatedOfferResponse" />
  </wsdl:message>
  <wsdl:message name="aboutThisServiceHttpGetIn" />
  <wsdl:message name="aboutThisServiceHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="aboutThisServiceHttpPostIn" />
  <wsdl:message name="aboutThisServiceHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="CRMOfferConnectorSoap">
    <wsdl:operation name="heartbeat">
      <wsdl:input message="tns:heartbeatSoapIn" />
      <wsdl:output message="tns:heartbeatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="postOffersEnhancedResponse">
      <wsdl:input message="tns:postOffersEnhancedResponseSoapIn" />
      <wsdl:output message="tns:postOffersEnhancedResponseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="postOffers">
      <wsdl:input message="tns:postOffersSoapIn" />
      <wsdl:output message="tns:postOffersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getOffers">
      <wsdl:input message="tns:getOffersSoapIn" />
      <wsdl:output message="tns:getOffersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ackOffers">
      <wsdl:input message="tns:ackOffersSoapIn" />
      <wsdl:output message="tns:ackOffersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getOfferStatus">
      <wsdl:input message="tns:getOfferStatusSoapIn" />
      <wsdl:output message="tns:getOfferStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="aboutThisService">
      <wsdl:input message="tns:aboutThisServiceSoapIn" />
      <wsdl:output message="tns:aboutThisServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="postOffersImmediate">
      <wsdl:input message="tns:postOffersImmediateSoapIn" />
      <wsdl:output message="tns:postOffersImmediateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="transferCmOffersImmediate">
      <wsdl:input message="tns:transferCmOffersImmediateSoapIn" />
      <wsdl:output message="tns:transferCmOffersImmediateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="translateCmToUe">
      <wsdl:input message="tns:translateCmToUeSoapIn" />
      <wsdl:output message="tns:translateCmToUeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="translateCmToUeEx">
      <wsdl:input message="tns:translateCmToUeExSoapIn" />
      <wsdl:output message="tns:translateCmToUeExSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteTranslatedOffer">
      <wsdl:input message="tns:deleteTranslatedOfferSoapIn" />
      <wsdl:output message="tns:deleteTranslatedOfferSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CRMOfferConnectorHttpGet">
    <wsdl:operation name="aboutThisService">
      <wsdl:input message="tns:aboutThisServiceHttpGetIn" />
      <wsdl:output message="tns:aboutThisServiceHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CRMOfferConnectorHttpPost">
    <wsdl:operation name="aboutThisService">
      <wsdl:input message="tns:aboutThisServiceHttpPostIn" />
      <wsdl:output message="tns:aboutThisServiceHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CRMOfferConnectorSoap" type="tns:CRMOfferConnectorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="heartbeat">
      <soap:operation soapAction="http://www.copienttech.com/CRMOfferConnector/heartbeat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postOffersEnhancedResponse">
      <soap:operation soapAction="http://www.copienttech.com/CRMOfferConnector/postOffersEnhancedResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postOffers">
      <soap:operation soapAction="http://www.copienttech.com/CRMOfferConnector/postOffers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOffers">
      <soap:operation soapAction="http://www.copienttech.com/CRMOfferConnector/getOffers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ackOffers">
      <soap:operation soapAction="http://www.copienttech.com/CRMOfferConnector/ackOffers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOfferStatus">
      <soap:operation soapAction="http://www.copienttech.com/CRMOfferConnector/getOfferStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aboutThisService">
      <soap:operation soapAction="http://www.copienttech.com/CRMOfferConnector/aboutThisService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postOffersImmediate">
      <soap:operation soapAction="http://www.copienttech.com/CRMOfferConnector/postOffersImmediate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="transferCmOffersImmediate">
      <soap:operation soapAction="http://www.copienttech.com/CRMOfferConnector/transferCmOffersImmediate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="translateCmToUe">
      <soap:operation soapAction="http://www.copienttech.com/CRMOfferConnector/translateCmToUe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="translateCmToUeEx">
      <soap:operation soapAction="http://www.copienttech.com/CRMOfferConnector/translateCmToUeEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteTranslatedOffer">
      <soap:operation soapAction="http://www.copienttech.com/CRMOfferConnector/deleteTranslatedOffer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CRMOfferConnectorSoap12" type="tns:CRMOfferConnectorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="heartbeat">
      <soap12:operation soapAction="http://www.copienttech.com/CRMOfferConnector/heartbeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postOffersEnhancedResponse">
      <soap12:operation soapAction="http://www.copienttech.com/CRMOfferConnector/postOffersEnhancedResponse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postOffers">
      <soap12:operation soapAction="http://www.copienttech.com/CRMOfferConnector/postOffers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOffers">
      <soap12:operation soapAction="http://www.copienttech.com/CRMOfferConnector/getOffers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ackOffers">
      <soap12:operation soapAction="http://www.copienttech.com/CRMOfferConnector/ackOffers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOfferStatus">
      <soap12:operation soapAction="http://www.copienttech.com/CRMOfferConnector/getOfferStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aboutThisService">
      <soap12:operation soapAction="http://www.copienttech.com/CRMOfferConnector/aboutThisService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postOffersImmediate">
      <soap12:operation soapAction="http://www.copienttech.com/CRMOfferConnector/postOffersImmediate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="transferCmOffersImmediate">
      <soap12:operation soapAction="http://www.copienttech.com/CRMOfferConnector/transferCmOffersImmediate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="translateCmToUe">
      <soap12:operation soapAction="http://www.copienttech.com/CRMOfferConnector/translateCmToUe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="translateCmToUeEx">
      <soap12:operation soapAction="http://www.copienttech.com/CRMOfferConnector/translateCmToUeEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteTranslatedOffer">
      <soap12:operation soapAction="http://www.copienttech.com/CRMOfferConnector/deleteTranslatedOffer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CRMOfferConnectorHttpGet" type="tns:CRMOfferConnectorHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="aboutThisService">
      <http:operation location="/aboutThisService" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CRMOfferConnectorHttpPost" type="tns:CRMOfferConnectorHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="aboutThisService">
      <http:operation location="/aboutThisService" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CRMOfferConnector">
    <wsdl:port name="CRMOfferConnectorSoap" binding="tns:CRMOfferConnectorSoap">
      <soap:address location="http://153.73.161.9/connectors/CRMOfferConnector.asmx" />
    </wsdl:port>
    <wsdl:port name="CRMOfferConnectorSoap12" binding="tns:CRMOfferConnectorSoap12">
      <soap12:address location="http://153.73.161.9/connectors/CRMOfferConnector.asmx" />
    </wsdl:port>
    <wsdl:port name="CRMOfferConnectorHttpGet" binding="tns:CRMOfferConnectorHttpGet">
      <http:address location="http://153.73.161.9/connectors/CRMOfferConnector.asmx" />
    </wsdl:port>
    <wsdl:port name="CRMOfferConnectorHttpPost" binding="tns:CRMOfferConnectorHttpPost">
      <http:address location="http://153.73.161.9/connectors/CRMOfferConnector.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>